.bg-yellow {
    background-color: #ffdf7e;
}

.currentIcon {
    font-size: 3rem;
    background-color: rgb(255, 255, 255, 0.3);
}

#current {
    margin-top: 20px;
    border: #1a1a1a solid 3px;
}

.city-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.city-button:hover {
    background-color: #2a607c;
    color: white;
}

#cityInput {
    width: 100%;
}

#cityName {
    font-size: calc(24px + 2vw);
}

#currentDate, #citySearch, #weatherDesc {
    font-size: calc(20px + 1.5vw);
}

#currentUV, #currentTemp, #currentWind, #currentHumid {
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
}

#fiveDay {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#search-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #2a607c;
}

#search-button:hover {
    background-color: white;
    color: #2a607c;
}

#forecast-card {
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

#title {
    background-image: linear-gradient(to right, dimgrey, darkblue);
}

/* START footer styles */
footer {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 3px solid;
    border-radius: 0;
    margin-top: 30px;
}

footer h4 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
    font-size: 24px;
    color: var(--primary-color);
}

/* END footer styles */